@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: rgb(41, 113, 122);
}

nav {
    background-color: black;
    color: white;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
   
}

.logo{
    margin: 0 80px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}
ul {
    background-color: black;
    display: flex;
    margin: 0 53px;
    align-items: center;

}

ul > li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}

ul > li:hover{
    color: grey;

}
a:link {
    color: white;
  }
  
  a:visited {
    color: wheat;
  }
  
  a:hover {
    color: gray;
  }
  
  
.container{
    margin: 50px auto;
    max-width: 500px;
    

}
h1{
    text-align: center;
    font-size: 36px;
}
form{
    border: 3px solid black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 23px;
}
label{
    font-size: 18px;
    margin-bottom: 5px;

}
input[type="text"],input[type="password"]{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.btn{
    margin-top: 5px;
    padding: 10px;
    background: black;
    color: white;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
}