@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: rgb(41, 113, 122);
}

nav {
    background-color: black;
    color: white;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
   
}

.logo{
    margin: 0 80px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}

ul {
    background-color: black;
    display: flex;
    margin: 0 53px;
    align-items: center;

}

ul > li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}

ul > li:hover{
    color: grey;

}
a:link {
    color: white;
  }
  
  a:visited {
    color: wheat;
  }
  
  a:hover {
    color: gray;
  }
  
form{
    align-items: center;
    display:grid;
    width: 50%;
}

table, td, tr{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 13px;
}
 th{
    border: 2px solid black;
    padding: 5px 13px;
}

.container {
    max-width: 80vw;
    margin: 23px auto;
    padding: 5px 5px;
}
h1, h2, h3 {
    margin: 23px 0;
}

.btn{
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
}

.btnsm{ 
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}

img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}

#alert{
    display: none;
}