@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

  
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}
body{
    background-color: rgb(41, 113, 122);


}

nav {
    color-scheme: normal;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
   
}

.logo{
    margin: 0 80px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}

ul {
    display: flex;
    margin: 0 53px;
    align-items: center;

}

ul > li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}

ul > li:hover{
    color: grey;

}
a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: gray;
  }
  .mid {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 80px;
    margin: 20px 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;

}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    border-radius: 20px;
    color: black;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.card:first-child {
    background-color: #508C9B;
}

.card:nth-child(2) {
    background-color: #508C9B;
}
/*
.container {
    margin: 23px 23px;
    padding: 5px 5px;
    align-items: center;
}
    */
h1, h2, h3 {
    margin: 23px 0;
}
.top{
    display: block;
    text-align: center;

}
section {
    margin-bottom: 20px;

}

section h2 {
    margin-bottom: 10px;
    color: #333;
}

